h1{
    color:white;
    text-shadow: 2px 2px #000000;
}

.cont5{
    width: 700px;
    height: 500px;
    margin: auto;
    padding:20px;
    border-radius: 25px;
    background-color:rgba(255, 255, 255, 0.6);
    text-align: left;
    margin-top: 100px;
    
    

}

form{
    border-style: groove;
    padding: 8px;
    border-radius: 25px;
    /* text-align: justify; */
    box-sizing: border-box;
    display: inline-block;

    
}

.text-center{
    margin-top: 5px;
    
}